{% extends "base.html" %}

{% block content %}
<h1>Found Recipes</h1>
{% if preferences %}
    <h4>Based on your preferences, {{ preferences.cuisine }}, {{ preferences.type }}, and {{ preferences.lifestyle }} we found these links:</h4>
    {% if url_list %}
        <ul>
            {% for url in url_list %}
                <li class="d-flex align-items-center">
                    <button class="btn btn-outline-primary mr-2" onclick="bookmarkUrl('{{ url }}')">Bookmark</button>
                    <a href="{{ url }}" target="_blank">{{ url }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes found. Try adjusting your preferences.</p>
    {% endif %}
{% else %}
    <h4>{{ message }}</h4>
{% endif %}
{% endblock %}

<script>
function bookmarkUrl(url) {
    $.ajax({
        type: "POST",
        url: "/bookmark",
        data: JSON.stringify({'url': url}),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(response) {
            alert("Bookmark added successfully!");
        },
        error: function(response) {
            alert("Error adding bookmark.");
        }
    });
}
</script>

<!-- jQuery should be included only once and ideally in the base template -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bookmark.js') }}"></script>
