{% extends "base.html" %}

{% block title %}My Recipe{% endblock %}

{% block content %}
<h1>My Recipes</h1>
<h2>Welcome, {{ firstname }}!</h2>

{% if bookmarks %}
    <ul>
    {% for bookmark in bookmarks %}
        <li><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bookmarks found.</p>
{% endif %}
{% endblock %}

<!-- jQuery and bookmark.js should be included within the base template, ideally, or here if not using a base template -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bookmark.js') }}"></script>
